<html lang="us" dir="ltr">
{% if page.has_previous %}
  {# ایجاد پایه آدرس: اگر کوئری بود آن را اضافه کن #}
  <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page.previous_page_number }}">« Previous page</a>
  
  {% if page.number > 3 %}
    <a href="?{% if query %}query={{ query }}&{% endif %}page=1">1</a>
    {% if page.number > 4 %}<span>...</span>{% endif %}
  {% endif %}
{% endif %}

{% for num in page.paginator.page_range %}
  {% if page.number == num %}
    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ num }}" class="active">{{ num }}</a>
  {% elif num > page.number|add:'-3' and num < page.number|add:'3' %}
    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if page.has_next %}
  {% if page.number < page.paginator.num_pages|add:'-3' %}
    <span>...</span>
    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
  {% elif page.number < page.paginator.num_pages|add:'-2' %}
    <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
  {% endif %}

  <a href="?{% if query %}query={{ query }}&{% endif %}page={{ page.next_page_number }}">Next Page »</a>
{% endif %}
</html>